<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link href="{{ app.router.static.url(filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ app.router.static.url(filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ app.router.static.url(filename='css/font-awesome.css') }}" rel="stylesheet">
    <script src="{{ app.router.static.url(filename='js/bootstrap.js') }}"></script>
    
    <title>Labyrinth</title>
    
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">  
    
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Caption" rel="stylesheet">
    
    <!-- Logo -->
    <link rel="icon" href="{{app.router.static.url(filename='images/logo-small.ico')}}" type="image/x-icon">
</head>

    
<body>
<!-- NAVBAR -->
    <div class="menu">
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">     
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div><!--navbar-header-->
            <div class="navbar-collapse collapse">
                <ul class="nav nav-justified">
                <li><a href="#">Об игре</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Рейтинги</a></li>
                <li><a href="#">Арты</a></li>
                <li><a href="#">Вопросы</a></li>
                </ul>
            </div><!--navbar-collapse -->
        </div><!--container-fluid -->
    </div><!--navbar -->
    </div>
    
<!-- MAIN -->
    <main class="container">
            <div class="col-sm-10">
                <img src="{{app.router.static.url(filename='images/lab.png')}}" alt="">
            </div>

            <div class="col-sm-2">
                {% if not login %}
                <form class="form-signin" role="form" action="/login">
                    <input type="email" class="form-control" name="email" placeholder="E-mail" required autofocus>
                    
                    <input type="password" class="form-control"  name="password" placeholder="Password" required>
                    <button class="btn btn-info btn-block" type="submit">Войти</button>
                
                </form>     
                <a href="/registration" type="submit" class="btn btn-primary btn-block">Регистрация</a>
                {% endif %}

                {% if login %}
                Привет, {{ login }}!
                <a href="/info" type="submit" class="btn btn-primary btn-block">Играть!</a>
                <a href="/logout" type="submit" class="btn btn-primary btn-block">Выйти</a>
                {% endif %}
            </div>
        
        <div class="col-sm-12">
            <div class="blog-header">
                <h1 class="blog-title">Последние новости</h1>
            </div>
            <div class="newscontainer">
                <p>Ура, игра готова!</p>
            </div>
            <div class="newscontainer">
                <p>У нас появился сайт!</p>
            </div>
            <div class="newscontainer">
                <p>Новая версия сайта!</p>
            </div>
            
            <div class="pagerow">
                <ul class="pagination">
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
                    <li class="disabled"><a href="#">&raquo;</a></li>
                </ul>  
            </div>
        </div><!--col-sm-12-->
        
        </main> <!--container-->
    
<!-- FOOTER -->
    <footer class="container-fluid">
        <div class="row footer-top">
             <div class="col-xs-4">
                 <a href="#"><i class="fa fa-vk" aria-hidden="true">&nbsp;Вконтакте</i></a>
             </div>
             <div class="col-xs-4">
                 <a href="https://github.com/Nexterot/labyrinth-project/"><i class="fa fa-github" aria-hidden="true">&nbsp;GitHub</i></a>
             </div>
             <div class="col-xs-4">
                 <a href="https://vk.com"><i class="fa fa-cogs" aria-hidden="true">&nbsp;Поддержка</i></a>
             </div>
        </div><!--footer-top-->
        <div class="row footer-bottom">
            <p><i class="fa fa-copyright" aria-hidden="true"></i> Labyrinth, 2017</p>
        </div><!--footer-bottom-->
    </footer>  
    
<!-- Bootstrap core JavaScript  --> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
    
    
</body>    
    
</html>
