<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link href="{{ app.router.static.url(filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ app.router.static.url(filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ app.router.static.url(filename='css/font-awesome.css') }}" rel="stylesheet">
    <script src="{{ app.router.static.url(filename='js/bootstrap.js') }}"></script>
    
    <title>Labyrinth</title>
    
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">  
    
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Caption" rel="stylesheet">
    
    <!-- Logo -->
    <link rel="icon" href="images/logo-small.ico" type="image/x-icon">
</head>

    
<body>
<!-- NAVBAR -->
    <div class="menu">
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">     
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div><!--navbar-header-->
            <div class="navbar-collapse collapse">
                <ul class="nav nav-justified">
                <li><a href="#">Об игре</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Рейтинги</a></li>
                <li><a href="#">Арты</a></li>
                <li><a href="#">Вопросы</a></li>
                </ul>
            </div><!--navbar-collapse -->
        </div><!--container-fluid -->
    </div><!--navbar -->
    </div>
    
<!-- MAIN -->
    <main>
        <div class="col-sm-12">
            <h3>Доступные комнаты:</h3>  
            
            <table id="rooms" border="1">
                <tr>
                    <td>Название комнаты</td>
                    <td>Список игроков</td>
                    <td>Присоединиться</td>
                </tr>
            </table>

            <input id="room_name" type="text" \>
            <button id="create_room"> Создать комнату </button>
            
            <script src="http://0.0.0.0:8000/game/automates.js"></script>
            <script src="http://0.0.0.0:8000/game/game.js"></script>
            <script src="http://0.0.0.0:8000/build/phaser.min.js"></script>
            <script src="http://0.0.0.0:8000/game/graphical_functions.js"></script>
            <script src="http://0.0.0.0:8000/game/turn_functions.js"></script>
            <script src="http://0.0.0.0:8000/game/another_turn_functions.js"></script>
            <script src="http://0.0.0.0:8000/game/client_mechanics_3.js"></script>

        </div>
            
    </main> <!--container-->
    
<!-- FOOTER -->
    <footer class="container-fluid">
        <div class="row footer-top">
             <div class="col-xs-4">
                 <a href="#"><i class="fa fa-vk" aria-hidden="true">&nbsp;Вконтакте</i></a>
             </div>
             <div class="col-xs-4">
                 <a href="https://github.com/Nexterot/labyrinth-project/"><i class="fa fa-github" aria-hidden="true">&nbsp;GitHub</i></a>
             </div>
             <div class="col-xs-4">
                 <a href="https://vk.com"><i class="fa fa-cogs" aria-hidden="true">&nbsp;Поддержка</i></a>
             </div>
        </div><!--footer-top-->
        <div class="row footer-bottom">
            <p><i class="fa fa-copyright" aria-hidden="true"></i> Labyrinth, 2017</p>
        </div><!--footer-bottom-->
    </footer>  
    
<!-- Bootstrap core JavaScript  --> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
    
</body>    
    
</html>
