<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    
    <!-- Static CSS -->
    <link href="{{ app.router.static.url(filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ app.router.static.url(filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ app.router.static.url(filename='css/font-awesome.css') }}" rel="stylesheet">
    
    <!-- Logo -->
    <link rel="icon" href="{{app.router.static.url(filename='images/logo-small.ico')}}" type="image/x-icon">
    
    <title>Registration</title>
  </head>

   
<!-- NAVBAR -->
 <body>

      <!-- Static navbar -->
     <div class="menu">
      <div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav nav-justified">
              <li><a href="#">Об игре</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Рейтинги</a></li>
              <li><a href="#">Арты</a></li>
              <li><a href="#">Вопросы</a></li>
            </ul>
            
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
        </div>
     </div>

    <!-- MAIN -->
     <main class="container">
        <div class="blog-header">
            <div class="col-sm-1">
                <a href="/" type="submit" class="btn btn-primary btn-block"><i class="fa fa-reply" aria-hidden="true"></i></a>
            </div>
            <h1>Регистрация</h1>
        </div>
        <form class="form-horizontal" action="/sign_up" method="post">
          <div class="form-group">
            <label class="control-label col-xs-3" for="Login">Логин:</label>
            <div class="col-xs-9">
              <input type="text" class="form-control" name="Login" placeholder="Введите логин" required autofocus>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-3" for="Name">Имя:</label>
            <div class="col-xs-9">
              <input type="text" class="form-control" name="Name" placeholder="Введите имя" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-3" for="inputEmail">Email:</label>
            <div class="col-xs-9">
              <input type="email" class="form-control" name="Email" id="inputEmail" placeholder="Введите E-mail" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-3" for="Password">Пароль:</label>
            <div class="col-xs-9">
              <input type="password" class="form-control" name="Password" placeholder="Введите пароль" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-3" for="confirmPassword">Подтвердите пароль:</label>
            <div class="col-xs-9">
              <input type="password" class="form-control" name="confirmPassword" placeholder="Введите пароль ещё раз" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-3" for="Phone">Телефон:</label>
            <div class="col-xs-9">
              <input type="tel" class="form-control" name="Phone" placeholder="Введите номер телефона" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-3" for="Age">Возраст:</label>
            <div class="col-xs-9">
              <input type="text" class="form-control" name="Age" placeholder="Введите свой возраст" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-3">Пол:</label>
            <div class="col-xs-2">
              <label class="radio-inline">
                <input type="radio" name="genderRadios" value="male"> Мужской
              </label>
            </div>
            <div class="col-xs-2">
              <label class="radio-inline">
                <input type="radio" name="genderRadios" value="female"> Женский
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-offset-3 col-xs-9">
              <label class="checkbox-inline">
                <input type="checkbox" value="agree" name="Agree" required>  Я согласен с <a href="#">условиями</a>.
              </label>
            </div>
          </div>
      <br />
      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9">
          <input type="submit" class="btn btn-primary" value="Регистрация">
          <input type="reset" class="btn btn-info" value="Очистить форму">
        </div>
      </div>
    </form>
     </main> <!-- /container -->
     
     
     <!-- FOOTER -->
     <footer class="container-fluid">
         <div class="row footer-top">
             <div class="col-xs-4">
                 <a href="#"><i class="fa fa-vk" aria-hidden="true">&nbsp;Вконтакте</i></a>
             </div>
             <div class="col-xs-4">
                 <a href="https://github.com/Nexterot/labyrinth-project/"><i class="fa fa-github" aria-hidden="true">&nbsp;GitHub</i></a>
             </div>
             <div class="col-xs-4">
                 <a href="https://vk.com"><i class="fa fa-cogs" aria-hidden="true">&nbsp;Поддержка</i></a>
             </div>
         </div>

        <div class="row footer-bottom">
            <p><i class="fa fa-copyright" aria-hidden="true"></i> Labyrinth, 2017</p>
        </div>
    </footer>
    
    
    <!-- Static JS  --> 
   <script src="{{ app.router.static.url(filename='js/jquery-1.12.4.min.js') }}"></script>
   <script src="{{ app.router.static.url(filename='js/bootstrap.js') }}"></script>
      </body>
  </html>